.btn-icon, .btn-icon-transparent, .btn-icon-gray, .btn-icon-white {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.8rem;
  height: 3.8rem;
  padding: 3%;
  border: 2px solid rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  background-color: #2a2a2a;
}
.btn-icon > svg, .btn-icon-transparent > svg, .btn-icon-gray > svg, .btn-icon-white > svg {
  width: 1.9rem;
  height: 1.9rem;
}

.btn-icon-white {
  color: black;
  border: none;
  background-color: white;
}
.btn-icon-white:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.btn-icon-gray {
  color: white;
  border: 1.5px solid rgba(255, 255, 255, 0.7);
  background-color: #2a2a2a;
}

.btn-icon-transparent {
  color: white;
  border: 1.25px solid white;
  background-color: transparent;
}
.btn-icon-transparent:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.btn-text-gray, .btn-text-white {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.6em 1.6em;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 5px;
}
.btn-text-gray svg, .btn-text-white svg {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.5rem;
}

.btn-text-white {
  color: black;
  background-color: white;
}
.btn-text-white:hover {
  background-color: rgba(255, 255, 255, 0.75);
}

.btn-text-gray {
  color: white;
  background-color: rgba(109, 109, 110, 0.7);
}
.btn-text-gray:hover {
  background-color: rgba(109, 109, 110, 0.4);
}

.roll-right, .roll-left {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  z-index: 1;
  position: absolute;
  width: 4%;
  height: 100%;
  background-color: transparent;
}
.roll-right:hover, .roll-left:hover {
  opacity: 1;
  background-color: rgba(20, 20, 20, 0.7);
}

.roll-left {
  left: 0;
}

.roll-right {
  right: 0;
}

.btn-roll {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: white;
}
.btn-roll svg {
  width: 60%;
  height: 60%;
  transition: transform 0.15s ease-in-out;
}
.btn-roll svg:hover {
  transform: scale(1.2);
}

html {
  font-size: 62.5%;
  font-weight: 400;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #fff;
  background-color: #141414;
}
@media (max-width: 599.999999px) {
  html {
    font-size: 1.5vw;
  }
}
@media (min-width: 600px) {
  html {
    font-size: 1vw;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 0.85vw;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 0.75vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 4%;
  background: linear-gradient(rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.35), transparent);
  transition: background-color 0.4s ease-in-out;
}
.navbar.opaque {
  background-color: rgb(20, 20, 20);
}
@media (min-width: 600px) {
  .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (min-width: 900px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }
}
@media (max-width: 599.999999px) {
  .navbar {
    padding: 10px 4%;
  }
}

.navbar-hamburger {
  width: 24px;
  height: 24px;
  margin-right: 17px;
}
@media (min-width: 600px) {
  .navbar-hamburger {
    display: none;
  }
}
.navbar-hamburger > img {
  max-width: 100%;
}

.navbar-logo {
  width: 65px;
  height: 40px;
  margin-right: 25px;
  background-size: contain;
  background-image: url("../img/Netflix_Logo_RGB.png");
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}
@media (max-width: 599.999999px) {
  .navbar-logo {
    width: 84px;
    height: 24px;
  }
}
@media (min-width: 900px) {
  .navbar-logo {
    width: 90px;
    height: 70px;
  }
}

.navbar-nav-toggler {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
}
@media (max-width: 599.999999px) {
  .navbar-nav-toggler {
    display: none;
  }
}
@media (min-width: 900px) {
  .navbar-nav-toggler {
    display: none;
  }
}
.navbar-nav-toggler::after {
  margin-left: 10px;
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: #fff transparent;
  width: 0;
  height: 0;
  content: "";
}

.navbar-nav {
  display: none;
  font-size: 1.25rem;
}
@media (min-width: 900px) {
  .navbar-nav {
    display: block;
  }
}
.navbar-nav a {
  all: unset;
}

.navbar-nav > ul {
  display: flex;
  list-style: none;
}

.navbar-nav li {
  margin-left: 18px;
  cursor: pointer;
  color: #e5e5e5;
  transition: color 0.4s;
}
.navbar-nav li:hover {
  color: #b3b3b3;
}
.navbar-nav li.active {
  font-weight: 600;
  cursor: default;
  color: #ffffff;
}

.navbar-search-mobile {
  margin-left: auto;
}
@media (min-width: 600px) {
  .navbar-search-mobile {
    display: none;
  }
}
.navbar-search-mobile input {
  width: 7em;
  border: 1px solid #ccc;
  color: #ccc;
  padding: 0.25em 0.5em;
  font-size: 16px;
  background: transparent;
}

.navbar-controls {
  display: none;
  margin-left: auto;
  align-items: center;
}
@media (min-width: 600px) {
  .navbar-controls {
    display: flex;
  }
}
.navbar-controls > div {
  cursor: pointer;
  margin-right: 20px;
}
.navbar-controls > div:last-child {
  margin-right: 0;
}
.navbar-controls .arrow {
  margin-left: 10px;
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: #fff transparent;
  width: 0;
}
.navbar-controls .profile {
  display: flex;
  align-items: center;
}
.navbar-controls .profile .picture {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  background-image: url("../img/profile-image.png");
}
.navbar-controls .profile:hover {
  cursor: pointer;
}
.navbar-controls .profile:hover .arrow {
  cursor: pointer;
  rotate: 180deg;
  transition: rotate 400ms ease-in-out;
}

@media (max-width: 599.999999px) {
  .hero {
    display: none;
  }
}

.hero-video {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.hero-video > video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero-shade {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(rgba(20, 20, 20, 0.35) 50%, rgb(20, 20, 20));
}

.hero-content {
  width: 35%;
  padding-left: 4%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.hero-title {
  margin-bottom: 1rem;
}
.hero-title > img {
  max-width: 100%;
  transform-origin: left bottom;
  transition: transform 1.3s ease-in-out;
}
.hero-title > img.transform {
  transform: scale(0.7) translateY(8rem);
}

.hero-ranking {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
  transition: transform 1.3s ease-in-out;
}
.hero-ranking.transform {
  transform: translateY(6rem);
}
.hero-ranking > svg {
  width: 1.7em;
  height: 1.7em;
  margin-right: 1rem;
}

.hero-synopsis {
  font-size: 1.55rem;
  margin-bottom: 2rem;
  font-weight: 100;
  line-height: 1.4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  transition-property: transform, opacity;
  transition-duration: 1.3s;
  transition-timing-function: ease-in-out;
}
.hero-synopsis.transform {
  transform: translateY(80px);
  opacity: 0;
}

.hero-controls {
  z-index: 1;
  display: flex;
  gap: 1.5rem;
}

.hero-embed {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 35%;
  width: 17rem;
  display: flex;
  align-items: center;
}

.btn-hero-reload {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.7rem;
  height: 3.7rem;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background-color: transparent;
}
.btn-hero-reload:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.btn-hero-reload > svg {
  width: 1.9rem;
  height: 1.9rem;
}

.hero-maturity {
  flex-grow: 1;
  margin-left: 2rem;
  border-left: 3px solid white;
  padding: 0.3rem 0 0.3rem 1.5rem;
  background-color: rgba(51, 51, 51, 0.6);
}
.hero-maturity > svg {
  width: 2.7rem;
  height: 2.7rem;
  vertical-align: middle;
}

.hero-banner {
  max-width: 70%;
  min-height: 15vh;
  margin: 3rem auto 4rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.25;
}
.hero-banner > div {
  padding: 0 10px;
  text-align: center;
}
.hero-banner svg {
  margin-bottom: 10px;
}
.hero-banner img {
  margin-top: 10px;
  max-width: 70%;
}

.hero-banner-center {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}

@media (max-width: 599.999999px) {
  .lists {
    padding-top: 10vh;
  }
}

.section {
  margin-bottom: 4.5rem;
}

.section-title {
  padding: 0 4%;
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: 700;
}
@media (max-width: 599.999999px) {
  .section-title {
    font-size: 19px;
    color: #999;
  }
}

.section-slider {
  position: relative;
}

.section-slider-content {
  display: flex;
  gap: 0.6rem;
  scroll-behavior: smooth;
  overflow: hidden;
  padding: 0 4%;
}

.section-slider-thumb {
  width: 25%;
  flex-shrink: 0;
}
@media (max-width: 599.999999px) {
  .section-slider-thumb {
    width: 50%;
  }
}
@media (min-width: 600px) {
  .section-slider-thumb {
    width: 33.333333%;
  }
}
@media (min-width: 900px) {
  .section-slider-thumb {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .section-slider-thumb {
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .section-slider-thumb {
    width: 16.66666667%;
  }
}
.section-slider-thumb > img {
  cursor: pointer;
  max-width: 100%;
  border-radius: 5px;
  height: auto;
}

.section-slider-rank {
  width: 25%;
  aspect-ratio: 10/7;
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
}
@media (max-width: 599.999999px) {
  .section-slider-rank {
    width: 50%;
  }
}
@media (min-width: 600px) {
  .section-slider-rank {
    width: 33.333333%;
  }
}
@media (min-width: 900px) {
  .section-slider-rank {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .section-slider-rank {
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .section-slider-rank {
    width: 16.66666667%;
  }
}
.section-slider-rank > img {
  max-width: 50%;
}

.footer,
.footer-mobile {
  max-width: 100rem;
  height: 30rem;
  margin: 0 auto;
  padding: 10rem 4% 0;
  font-size: 1.2rem;
  font-weight: 300;
}
.footer a,
.footer-mobile a {
  all: unset;
  cursor: pointer;
}

.footer {
  display: none;
}
@media (min-width: 600px) {
  .footer {
    display: block;
  }
}

@media (min-width: 600px) {
  .footer-mobile {
    display: none;
  }
}

.footer-social {
  display: flex;
  gap: 2.5rem;
  margin-bottom: 2rem;
}

.footer-links,
.footer-links-mobile {
  color: grey;
  margin-bottom: 1rem;
}
.footer-links ul,
.footer-links-mobile ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}
.footer-links li,
.footer-links-mobile li {
  margin-bottom: 1.6rem;
}
.footer-links a:hover,
.footer-links-mobile a:hover {
  text-decoration: underline;
}

.footer-links li {
  flex-basis: 25%;
}

.footer-links-mobile {
  font-size: 14px;
}
.footer-links-mobile ul {
  gap: 15px;
}
.footer-links-mobile li {
  margin-bottom: 0;
}

.footer-service-code {
  margin-bottom: 2.5rem;
}

.btn-service-code {
  cursor: pointer;
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  display: inline-block;
  color: grey;
  border: 1px solid grey;
  padding: 0.65rem 1rem 0.5rem;
  vertical-align: middle;
}
.btn-service-code:hover {
  color: white;
}

.footer-copyright {
  color: grey;
  font-size: 1.1rem;
  padding-bottom: 2rem;
}

.backdrop {
  display: none;
  z-index: 4;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(20, 20, 20, 0.5);
}

.modal {
  display: none;
  z-index: 5;
  position: absolute;
  top: 10%;
  left: 20%;
  width: 930px;
  overscroll-behavior: contain;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
  background-color: #181818;
  border-radius: 8px;
  overflow: hidden;
}
.modal .modal-close {
  position: absolute;
  right: 2%;
  top: 2%;
}
.modal .modal-close .close-button {
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
}
.modal .modal-hero {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
  padding: 4%;
  height: 500px;
}
.modal .modal-hero .title img {
  max-width: 100%;
  margin-bottom: 30px;
}
.modal .modal-hero .progress {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.modal .modal-hero .progress .progress-bar {
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.3);
  height: 2px;
}
.modal .modal-hero .progress .progress-bar .complete {
  width: 30%;
  height: 100%;
  background-color: red;
}
.modal .modal-hero .progress .caption {
  margin-left: 10px;
  min-width: -moz-max-content;
  min-width: max-content;
  font-weight: 700;
  color: hsla(0, 0%, 100%, 0.7);
}
.modal .modal-hero .controls {
  display: flex;
  align-items: center;
  gap: 9px;
}
.modal .modal-video {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
}
.modal .modal-video video {
  max-width: 100%;
}
.modal .modal-shade {
  top: 0;
  left: 0;
  width: 930px;
  height: 525px;
  z-index: -1;
  position: absolute;
  background: linear-gradient(transparent 50%, rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.97), rgb(20, 20, 20));
}
.modal .modal-content {
  padding: 0 4% 4%;
}
.modal .modal-content .details {
  display: flex;
  gap: 30px;
}
.modal .modal-content .left {
  width: 70%;
}
.modal .modal-content .left .metadata {
  display: flex;
  gap: 12px;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}
.modal .modal-content .left .metadata .feature {
  padding: 0.05em 0.4em;
  font-size: 12px;
  opacity: 0.9;
  text-align: center;
  border: 1px solid gray;
  border-radius: 2px;
}
.modal .modal-content .left .title {
  font-size: 20px;
  margin-bottom: 20px;
}
.modal .modal-content .left .summary {
  line-height: 1.5;
}
.modal .right {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal .right .label {
  color: #777;
}

body.modal-open {
  overflow: hidden;
}

.preview {
  z-index: 3;
  position: absolute;
  width: 18.2%;
  background-color: rgb(20, 20, 20);
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;
}
.preview video {
  cursor: pointer;
  max-width: 100%;
}

.preview-content {
  padding: 10px 15px 15px;
}

.preview-controls {
  display: flex;
  margin-bottom: 10px;
  gap: 0.5rem;
}
.preview-controls button {
  width: 2.4rem;
  height: 2.4rem;
}

.preview-title {
  font-size: 12px;
}

.btn-expand {
  margin-left: auto;
}

.daily-picks {
  position: relative;
  margin-bottom: 5.5rem;
}
@media (max-width: 599.999999px) {
  .daily-picks {
    display: none;
  }
}

.daily-picks-content {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: -3rem 0;
  padding: 3rem 4%;
  scroll-behavior: smooth;
  overflow: hidden;
}

.pick {
  width: 25%;
  display: flex;
  flex-shrink: 0;
}
@media (max-width: 599.999999px) {
  .pick {
    width: 50%;
  }
}
@media (min-width: 600px) {
  .pick {
    width: 33.333333%;
  }
}
@media (min-width: 900px) {
  .pick {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .pick {
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .pick {
    width: 16.66666667%;
  }
}

.pick-thumb {
  margin-right: 15px;
}

.pick-img {
  height: 18vh;
  border: 3px solid transparent;
  border-radius: 7px;
}
.pick-img:hover {
  border: 3px solid white;
  border-radius: 7px;
  box-shadow: 0 0 2rem 1rem rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.pick-text {
  font-size: 1.6rem;
  font-weight: 700;
}

.pick-controls {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding-top: 1.8rem;
}/*# sourceMappingURL=main.css.map */