@use "variables" as *;
@use "utils" as *;

html {
  font-size: $base-font-size;
  font-weight: $normal;
  font-family: $base-font-family;
  color: $white;
  background-color: $black;

  @include for-phone-only {
    font-size: 1.5vw;
  }

  @include for-tablet-portrait-up {
    font-size: 1vw;
  }

  @include for-tablet-landscape-up {
    font-size: 0.85vw;
  }

  @include for-desktop-up {
    font-size: 0.75vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
