@use "variables" as *;

html {
  /* 
    Default font-size is 16px 
    So 62.5% of 16px is 10px
    In the rest of the document:
    1 rem = 10px
  */
  font-size: calc(($html-font-size / 16px) * 100%);
  font-weight: 400;
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #fff;
  background-color: #141414;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
