@use "variables" as *;
@use "utils" as *;
@use "buttons" as *;

.daily-picks {
  @include for-phone-only {
    display: none;
  }

  position: relative;
  margin-bottom: 5.5rem;
}

.daily-picks-content {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: -3rem 0;
  padding: 3rem $page-padding;
  scroll-behavior: smooth;
  overflow: hidden;
}

.pick {
  @include responsive-thumb-dimensions;
  display: flex;
  flex-shrink: 0;
}

.pick-thumb {
  margin-right: 15px;
}

.pick-img {
  height: 18vh;
  border: 3px solid transparent;
  border-radius: 7px;

  &:hover {
    border: 3px solid white;
    border-radius: 7px;
    box-shadow: 0 0 2rem 1rem rgba(255, 255, 255, 0.3);
    cursor: pointer;
  }
}

.pick-text {
  font-size: $daily-picks-font-size;
  font-weight: $daily-picks-font-weight;
}

.pick-controls {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding-top: 1.8rem;
}
