@use "variables" as *;
@use "buttons" as *;
@use "utils" as *;

.hero {
  @include for-phone-only {
    display: none;
  }
}

.hero-video {
  @include absolute-backgound();

  > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero-shade {
  @include absolute-backgound();
  background: linear-gradient(rgb(20, 20, 20, 0.35) 50%, rgba(20, 20, 20, 1));
}

.hero-content {
  width: 40%;
  padding-left: $page-padding;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.hero-title {
  margin-bottom: 1rem;

  > img {
    max-width: 100%;
    transform-origin: left bottom;
    transition: transform 1.3s ease-in-out;

    &.transform {
      transform: scale(0.7) translateY(8rem);
    }
  }
}

.hero-ranking {
  display: flex;
  align-items: center;
  font-size: $ranking-font-size;
  font-weight: $ranking-font-weight;
  margin-bottom: 2rem;
  transition: transform 1.3s ease-in-out;

  &.transform {
    transform: translateY(6rem);
  }

  > svg {
    width: 1.7em;
    height: 1.7em;
    margin-right: 1rem;
  }
}

.hero-synopsis {
  font-size: $synopsis-font-size;
  margin-bottom: 2rem;
  font-weight: 100;
  line-height: 1.4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.45);
  transition-property: transform, opacity;
  transition-duration: 1.3s;
  transition-timing-function: ease-in-out;

  &.transform {
    transform: translateY(80px);
    opacity: 0;
  }
}

.hero-controls {
  z-index: 1;
  display: flex;
  gap: 1.5rem;
}

.hero-embed {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 35%;
  width: 17rem;
  display: flex;
  align-items: center;
}

.btn-hero-reload {
  @include btn-base;
  width: 3.7rem;
  height: 3.7rem;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background-color: transparent;

  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  > svg {
    width: 1.9rem;
    height: 1.9rem;
  }
}

.hero-maturity {
  flex-grow: 1;
  margin-left: 2rem;
  border-left: 3px solid white;
  padding: 0.3rem 0 0.3rem 1.5rem;
  background-color: rgba(51, 51, 51, 0.6);

  > svg {
    width: 2.7rem;
    height: 2.7rem;
    vertical-align: middle;
  }
}

.hero-banner {
  width: 70%;
  min-height: 15vh;
  margin: 0 auto 3rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: $cast-font-size;
  font-weight: $cast-font-weight;
  text-transform: uppercase;

  > div {
    padding: 0 10px;
    text-align: center;
  }

  svg {
    margin-bottom: 10px;
  }

  img {
    margin-top: 10px;
    max-width: 70%;
  }
}

.hero-banner-center {
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-right: 1px solid rgba(255, 255, 255, 0.6);
}
