%thumb-dimensions {
  // max-width: 25%;
  width: 16.66666667%;
}

.section {
  margin-bottom: 40px;
  // position: relative;

  .title {
    padding: 0 4%;
    margin-bottom: 15px;
    font-size: 22px;
    font-weight: 700;
  }

  .slider {
    position: relative;

    %roll-control {
      z-index: 1;
      position: absolute;
      width: 4%;
      min-height: 100%;
      // padding: 0 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      &:hover {
        background-color: rgba(20, 20, 20, 0.7);
      }

      button {
        cursor: pointer;
        color: white;
        background: none;
        border: none;
      }
    }

    .roll-left {
      @extend %roll-control;
      left: 0;
    }

    .roll-right {
      @extend %roll-control;
      right: 0;
    }

    .content {
      display: flex;
      gap: 6px;
      scroll-behavior: smooth;
      overflow: hidden;
      padding: 0 4%;
      // position: relative;

      .thumb {
        @extend %thumb-dimensions;
        flex-shrink: 0;

        img {
          cursor: pointer;
          max-width: 100%;
          border-radius: 5px;
          height: auto;
        }
      }

      .rank-thumb {
        flex-shrink: 0;
        width: 250px;
        height: 175px;
        display: flex;
        align-items: flex-start;

        > img {
          max-width: 50%;
        }
      }
    }
  }
}
