@use "variables" as *;
@use "utils" as *;

.navbar {
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 $page-padding;
  background: linear-gradient(
    rgba(20, 20, 20, 0.7),
    rgba(20, 20, 20, 0.35),
    transparent
  );
  transition: background-color 0.4s ease-in-out;

  &.opaque {
    background-color: rgb(20, 20, 20);
  }

  @include for-tablet-portrait-up {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include for-tablet-landscape-up {
    padding-top: 0;
    padding-bottom: 0;
  }

  @include for-phone-only {
    padding: 10px $page-padding;
  }
}

.navbar-hamburger {
  width: 24px;
  height: 24px;
  margin-right: 17px;

  @include for-tablet-portrait-up {
    display: none;
  }

  > img {
    max-width: 100%;
  }
}

.navbar-logo {
  width: 65px;
  height: 40px;

  @include for-phone-only {
    width: 84px;
    height: 24px;
  }

  @include for-tablet-landscape-up {
    width: 90px;
    height: 70px;
  }
  margin-right: 25px;
  background-size: contain;
  background-image: url("../img/Netflix_Logo_RGB.png");
  background-repeat: no-repeat;
  background-position: left center;
  cursor: pointer;
}

.navbar-nav-toggler {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;

  @include for-phone-only {
    display: none;
  }

  @include for-tablet-landscape-up {
    display: none;
  }

  &::after {
    margin-left: 10px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #fff transparent;
    width: 0;
    height: 0;
    content: "";
  }
}

.navbar-nav {
  display: none;

  @include for-tablet-landscape-up {
    display: block;
  }

  font-size: $nav-font-size;

  a {
    all: unset;
  }
}

.navbar-nav > ul {
  display: flex;
  list-style: none;
}

.navbar-nav li {
  margin-left: 18px;
  cursor: pointer;
  color: $nav-link;
  transition: color 0.4s;

  &:hover {
    color: $nav-hover;
  }

  &.active {
    font-weight: 600;
    cursor: default;
    color: $nav-active;
  }
}

.navbar-search-mobile {
  @include for-tablet-portrait-up {
    display: none;
  }

  margin-left: auto;

  input {
    width: 7em;
    border: 1px solid #ccc;
    color: #ccc;
    padding: 0.25em 0.5em;
    font-size: 16px;
    background: transparent;
  }
}

.navbar-controls {
  display: none;

  @include for-tablet-portrait-up {
    display: flex;
  }

  margin-left: auto;
  align-items: center;

  > div {
    cursor: pointer;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .arrow {
    margin-left: 10px;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #fff transparent;
    // padding: 1rem;
    // align-self: stretch;
    width: 0;
  }

  .profile {
    display: flex;
    align-items: center;

    .picture {
      width: 32px;
      height: 32px;
      border-radius: 4px;
      background-image: url("../img/profile-image.png");
    }

    &:hover {
      cursor: pointer;

      .arrow {
        cursor: pointer;
        rotate: 180deg;
        transition: rotate 400ms ease-in-out;
      }
    }
  }
}
