@use "buttons" as *;

.preview {
  z-index: 3;
  position: absolute;
  width: 18.2%;
  background-color: rgb(20, 20, 20);
  border-radius: 5px;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-out;
  box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 10px;

  video {
    max-width: 100%;
  }
}

.preview-content {
  padding: 10px 15px 15px;
}

.preview-controls {
  display: flex;
  margin-bottom: 10px;
  gap: 0.5rem;

  button {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.preview-title {
  font-size: 12px;
}

.btn-expand {
  margin-left: auto;
}
