@mixin for-phone-only {
  @media (max-width: 599.999999px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1400px) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin absolute-backgound {
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

@mixin responsive-thumb-dimensions {
  width: 25%;

  @include for-phone-only {
    width: 50%;
  }

  @include for-tablet-portrait-up {
    width: 33.333333%;
  }

  @include for-tablet-landscape-up {
    width: 25%;
  }

  @include for-desktop-up {
    width: 20%;
  }

  @include for-big-desktop-up {
    width: 16.66666667%;
  }
}
