// ===============
// === SPACING ===
// ===============

// Left and right padding for the page wrapper
$page-padding: 6%;

// ===============
// === TYPOGRAPHY ===
// ===============

// Base font-size in pixels
$html-font-size: 10px;

// The rest of the font-sizes should be in REM unit
$nav-font-size: 1.4rem;
$ranking-font-size: 1.4rem;
$synopsis-font-size: 1.8rem;

$btn-hero-font-size: 1.8rem;
$btn-hero-font-weight: 700;

$cast-font-size: 1.5rem;
$cast-font-weight: 700;

$daily-picks-font-size: 1.6rem;
$daily-picks-font-weight: 700;

$section-title-font-size: 2.2rem;
$section-title-font-weight: 700;

$footer-font-size: 1.3rem;
$footer-font-weight: 300;

$copyright-font-size: 1.1rem;
